doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='')
		link(rel='icon', href=`${pathToAssets}/docs/favicon.ico`)
		title Bokning
		link(rel='stylesheet', href='/stylesheets/reset.css')
		// Bootstrap core CSS
		link(href=`${pathToAssets}/dist/css/bootstrap.min.css`, rel='stylesheet')
		// Custom styles for this template
		link(href=`${pathToSelectedTemplateWithinBootstrap}1.css`, rel='stylesheet')
		// Just for debugging purposes. Don't actually copy these 2 lines!
		//if lt IE 9
		script(src=`${pathToAssets}/docs/assets/js/ie8-responsive-file-warning.js`)
		script(src=`${pathToAssets}/docs/assets/js/ie-emulation-modes-warning.js`)
		// IE10 viewport hack for Surface/desktop Windows 8 bug
		script(src=`${pathToAssets}/docs/assets/js/ie10-viewport-bug-workaround.js`)
		// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
		//if lt IE 9
		script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
		script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	body
		.container
			.page-header
				h1 Bilinformation
				p.lead(id="p") Olssons fordon AB
				input(type="button", value="Tillbaka", id="cta1", onclick="window.location.href='http://localhost:3000/'")
				.row
					.col-md-4
						.thumbnail
							a(href="https://upload.wikimedia.org/wikipedia/commons/7/72/Mazda_323f_green_front_20080301.jpg", target="_blank")
								img(src="https://upload.wikimedia.org/wikipedia/commons/7/72/Mazda_323f_green_front_20080301.jpg", alt="IMG") 
							.caption(id="bilInfor") 
								.table
									.thead 
										.tr 
											.th Mazda
									.tbody
										.tr 
											.td Fordonstyp: personbil
											.td requiredDrivingLicense:B
											.td Brand: Mazda
											.td Model: 323i
											.td Year: 1991
											.td Gearbox: manuell
											.td Dagshyra: 298
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
										
					.col-md-4 
						.thumbnail
							a(href="https://upload.wikimedia.org/wikipedia/commons/b/b3/Volvo-V40.jpg", target="_blank")
								img(src="https://upload.wikimedia.org/wikipedia/commons/b/b3/Volvo-V40.jpg", alt="IMG")
							.caption(id="bilInfor")
								.table
									.thead 
										.tr 
											.th Volvo
									.tbody
										.tr 
											.td Fordonstyp: personbil
											.td requiredDrivingLicense:B
											.td Brand: Volvo
											.td Model: V40
											.td Year: 1997
											.td Gearbox: manuell
											.td Dagshyra: 349
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
					.col-md-4
						.thumbnail
							a(href="https://upload.wikimedia.org/wikipedia/commons/4/40/Peugeot_308_5-T%C3%BCrer_front.JPG", target="_blank")
								img(src="https://upload.wikimedia.org/wikipedia/commons/4/40/Peugeot_308_5-T%C3%BCrer_front.JPG", alt="IMG")
							.caption(id="bilInfor")
								.table
									.thead 
										.tr 
											.th Peugeot
									.tbody
										.tr 
											.td Fordonstyp: personbil
											.td requiredDrivingLicense:B
											.td Brand: Peugeot
											.td Model: 308
											.td Year: 1997
											.td Gearbox: manuell
											.td Dagshyra: 349
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
				.row
					.col-md-4
						.thumbnail
							a(href="https://upload.wikimedia.org/wikipedia/commons/6/6a/Mercedes-Benz_Atego_white_strasbourg.JPG", target="_blank")
								img(src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Mercedes-Benz_Atego_white_strasbourg.JPG", alt="IMG")
							.caption(id="bilInfor")
								.table
									.thead 
										.tr 
											.th Mercedes-Benz
									.tbody
										.tr 
											.td Fordonstyp:  tung lastbil
											.td requiredDrivingLicense:CE
											.td Brand: Mercedes-Benz
											.td Model: Atego 8 16 L 4 x 2
											.td Year: 1995
											.td Dagshyra: 850
											.td Kommentarer*, Skador: "Större reva på högersida skåp."
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
					.col-md-4
						.thumbnail
							a(href="https://upload.wikimedia.org/wikipedia/commons/7/79/Audi_A4_B7_Avant_2.0_TDI.JPG", target="_blank")
								img(src="https://upload.wikimedia.org/wikipedia/commons/7/79/Audi_A4_B7_Avant_2.0_TDI.JPG", alt="IMG")
							.caption(id="bilInfor")
								.table
									.thead 
										.tr 
											.th Audi
									.tbody
										.tr 
											.td Fordonstyp: personbil
											.td requiredDrivingLicense: B
											.td Brand: Audi
											.td Model: A4
											.td Year: 2000
											.td Dagshyra: 398
											.td Fuel: 95
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
					.col-md-4
						.thumbnail
							a(href="https://upload.wikimedia.org/wikipedia/commons/e/ea/Volvo_V50_--_04-20-2010.jpg", target="_blank")
								img(src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Volvo_V50_--_04-20-2010.jpg", alt="IMG")
							.caption(id="bilInfor")
								.table
									.thead 
										.tr 
											.th Volvo
									.tbody
										.tr 
											.td Fordonstyp: personbil
											.td requiredDrivingLicense: B
											.td Brand: Volvo
											.td Gearbox: manuell
											.td Model: A4
											.td Year: 2005
											.td Dagshyra: 498
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
				.row
					.col-md-4
						.thumbnail
							a(href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/VW_LT35_2.5Tdi_2002.jpg/1200px-VW_LT35_2.5Tdi_2002.jpg", target="_blank")
								img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/VW_LT35_2.5Tdi_2002.jpg/1200px-VW_LT35_2.5Tdi_2002.jpg", alt="IMG")
							.caption(id="bilInfor")
								.table
									.thead 
										.tr 
											.th Mercedez-Benz
									.tbody
										.tr 
											.td Fordonstyp: lätt lastbil
											.td Brand: Mercedez-Benz
											.td Gearbox: manuell
											.td Model:  Sprinter 316 CDI
											.td Year: 2003
											.td Dagshyra: 498
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
					.col-md-4
						.thumbnail
							a(href="https://s3-us-west-2.amazonaws.com/usedphotosuk/104091366_614.jpg", target="_blank")
								img(src="https://s3-us-west-2.amazonaws.com/usedphotosuk/104091366_614.jpg", alt="IMG")
							.caption(id="bilInfor")
								.table
									.thead 
										.tr 
											.th Volvo
									.tbody
										.tr 
											.td Fordonstyp: lätt lastbil
											.td RequiredDrivingLicense: B
											.td Brand: Volvo
											.td Gearbox: manuell
											.td Model: S50
											.td Year: 2005
											.td Dagshyra: 498
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
					.col-md-4
						.thumbnail
							a(href="https://i.ebayimg.com/00/s/MzJYMzI=/z/aIEAAOSwz3lZehX7/$_86.JPG", target="_blank")
								img(src="https://i.ebayimg.com/00/s/MzJYMzI=/z/aIEAAOSwz3lZehX7/$_86.JPG", alt="IMG")
							.caption(id="bilInfor")
								.table
									.thead 
										.tr 
											.th Yamaha
									.tbody
										.tr 
											.td Fordonstyp: motorcykel
											.td RequiredDrivingLicense: A
											.td Brand: Yamaha
											.td Model: YCF R1
											.td Year: 2001
											.td Dagshyra: 498
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
								
				.row
								
					.col-md-4
						.thumbnail
							a(href="https://upload.wikimedia.org/wikipedia/commons/e/e1/Toyota_Aygo_front_20071204.jpg", target="_blank")
								img(src="https://upload.wikimedia.org/wikipedia/commons/e/e1/Toyota_Aygo_front_20071204.jpg", alt="IMG")
							.caption(id="bilInfor")
								.table
									.thead 
										.tr 
											.th Toyota
									.tbody
										.tr 
											.td Fordonstyp: personbil
											.td RequiredDrivingLicense: B
											.td Brand: Toyota
											.td Model: Aygo
											.td Dagshyra: 198
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
					.col-md-4
						.thumbnail
							a(href="http://cdn.dealerspike.com/imglib/v1/800x600/imglib/Assets/Inventory/F3/69/F36930D2-46BF-43B8-93BB-ECAC2B7F1176.jpg", target="_blank")
								img(src="http://cdn.dealerspike.com/imglib/v1/800x600/imglib/Assets/Inventory/F3/69/F36930D2-46BF-43B8-93BB-ECAC2B7F1176.jpg", alt="IMG")
							.caption(id="bilInfor")
								.table
									.thead 
										.tr 
											.th Can-Am
									.tbody
										.tr 
											.td Fordonstyp: ATV
											.td RequiredDrivingLicense: A1
											.td Brand: Can-Am
											.td Model: Outlander 570
											.td Year: 2008
											.td Dagshyra: 598
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
					.col-md-4
						.thumbnail
							a(href="https://imganuncios.mitula.net/2003_saab_9_3_linear_blackwood_nj_97530271686432250.jpg", target="_blank")
								img(src="https://imganuncios.mitula.net/2003_saab_9_3_linear_blackwood_nj_97530271686432250.jpg", alt="IMG")
							.caption(id="bilInfor")
								.table
									.thead 
										.tr 
											.th Saab
									.tbody
										.tr 
											.td Fordonstyp: personbil
											.td RequiredDrivingLicense: B
											.td Brand: Saab
											.td Model: 9-5 2.3 Super linear
											.td Year: 2003
											.td Dagshyra: 198
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
					.col-md-4
						.thumbnail
							a(href="https://upload.wikimedia.org/wikipedia/commons/5/52/BRP_Can-Am_Spyder_Roadster_20100810c.JPG", target="_blank")
								img(src="https://upload.wikimedia.org/wikipedia/commons/5/52/BRP_Can-Am_Spyder_Roadster_20100810c.JPG", alt="IMG")
							.caption(id="bilInfor")
								.table
									.thead 
										.tr 
											.th Can-Am
									.tbody
										.tr 
											.td Fordonstyp: Trehjuling
											.td Brand: Can-Am
											.td Model: Spyder Roadster
											.td Year: 2015
											.td Dagshyra: 798
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
					.col-md-4
						.thumbnail
							a(href="https://upload.wikimedia.org/wikipedia/commons/e/eb/2011_Kia_Optima_Hybrid_--_05-19-2011.jpg", target="_blank")
								img(src="https://upload.wikimedia.org/wikipedia/commons/e/eb/2011_Kia_Optima_Hybrid_--_05-19-2011.jpg", alt="IMG")
							.caption(id="bilInfor")
								.table
									.thead 
										.tr 
											.th Kia
									.tbody
										.tr 
											.td Fordonstyp: personbil
											.td RequiredDrivingLicense: B
											.td Brand: Kia
											.td Gearbox: manuell
											.td Model: Optima kombi
											.td Year: 2001
											.td Dagshyra: 498
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
					.col-md-4
						.thumbnail
							a(href="http://heavycherry.com/imgs/a/b/g/r/l/fiat__ducato_2_8_jtd_maxi_2006_1_lgw.jpg", target="_blank")
								img(src="http://heavycherry.com/imgs/a/b/g/r/l/fiat__ducato_2_8_jtd_maxi_2006_1_lgw.jpg", alt="IMG")
							.caption(id="bilInfor")
								.table
									.thead 
										.tr 
											.th Fiat
									.tbody
										.tr 
											.td Fordonstyp: lätt lastbil
											.td RequiredDrivingLicense: B
											.td Brand: Fiat
											.td Model: Ducato 2.3 Volymskåp maxi
											.td Year: 2006
											.td Dagshyra: 798
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
				.row
								
					.col-md-4
						.thumbnail
							a(href="http://image.bilgaraget.se/extra/carimg/576501_576600/toyota-aygo-576537_96480803.jpg", target="_blank")
								img(src="http://image.bilgaraget.se/extra/carimg/576501_576600/toyota-aygo-576537_96480803.jpg", alt="IMG")
							.caption(id="bilInfor")
								.table
									.thead 
										.tr 
											.th Toyota
									.tbody
										.tr 
											.td Fordonstyp: Toyota
											.td RequiredDrivingLicense: B
											.td Brand: Toyota
											.td Model: Aygo
											.td Year: 2009
											.td gearbox: manuell
											.td Dagshyra: 198
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
					.col-md-4
						.thumbnail
							a(href="http://s3.amazonaws.com/digitaltrends-uploads-prod/2015/08/Volvo-C30-hatch.jpg", target="_blank")
								img(src="http://s3.amazonaws.com/digitaltrends-uploads-prod/2015/08/Volvo-C30-hatch.jpg", alt="IMG")
							.caption(id="bilInfor")
								.table
									.thead 
										.tr 
											.th Volvo
									.tbody
										.tr 
											.td Fordonstyp: personbil
											.td RequiredDrivingLicense: B
											.td Brand: Volvo
											.td Model: c30
											.td Year: 2001
											.td Dagshyra: 225
											.td Fuel: diesel
											.td kommentarer*:  "skador": Backen är väldigt trög att få i.
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
					.col-md-4
						.thumbnail
							a(href="https://www.carpixel.net/w/2c8f1c2be6a4d487b8ebfe20f94182ac/volvo-v70-wallpaper-hd-31599.jpg", target="_blank")
								img(src="https://www.carpixel.net/w/2c8f1c2be6a4d487b8ebfe20f94182ac/volvo-v70-wallpaper-hd-31599.jpg", alt="IMG")
							.caption(id="bilInfor")
								.table
									.thead 
										.tr 
											.th Volvo
									.tbody
										.tr 
											.td Fordonstyp: personbil
											.td RequiredDrivingLicense: B
											.td Brand: Volvo
											.td Model: v70
											.td Year: 1996
											.td Dagshyra: 298
											.td Fuel: diesel
								input(type="button", value="Bokning", id="cta", onclick="window.location.href='http://localhost:3000/ansokning'")
								
								
								
								
								
								
								
								
								
								
								
					