head
  title Nybokning
  link(rel='stylesheet', href='/stylesheets/bokning.css')
body
  div(id="flex2")
    div
      input(type="button", value="tillbaka", id="tillbaka", onclick="window.location.href='http://localhost:3000/'")
  each fordon in fordonlist
    div(id="flexbox1")
      div(id="flexboxtext")
        h1 Fordon
        div#fordon_list_item
          form(action="/process_post" method="POST")
            h3 #{fordon.brand}
              br
              label(for="fordonstyp")="Fordonstyp:"
              input(name="fordonstyp", value=fordon.fordonstyp,) 
              label(for="korkort")="Körkort:"
              input(name="korkort", value=fordon.requiredDrivingLicense)
              label(for="marke")="Märke"
              input(name="marke", value=fordon.brand)
              label(for="vaxellada")="Växellåda:"
              input(name="vaxellada", value=fordon.gearbox, disabled)
              label(for="modell")="Modell" 
              input(name="modell", value=fordon.model)
              label(for="arsmodell")="Årsmodell"
              input(name="arsmodell",value=fordon.year)
              label(for="dagshyra")="Dagshyra"
              input(name="dagshyra", value=fordon.dagshyra)
              label(for="bokad")="Bokad"
              input(name="bokad", value=fordon.bokad)
              label(for="id")="Id"
              input(name="id", id="hiddden", value=fordon._id)
              if fordon.bokad == "nej"
                input(type="submit", value="bokning")
      div(id="flexboximg")
        img(src=fordon.imgLink alt="No img")
        div(id="flexbtn")
          
          


    
     

    
      